<div class="container" data-ng-controller="PodcastsController">
    <h3>Studies</h3>
    <table class="table table-hover">
        <tr data-ng-repeat="podcast in podcasts">
           <!-- <td><img ng-src="{{podcast.imageFileLocation}}" class="img-rounded"/></td>   -->
            <td align="left"><b><a href="#/podcast/{{podcast.id}}">{{podcast.title}}</a></b></td>
            <td><a href="{{podcast.audioFileLocation}}" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span></a></td>
            <td><a href="{{podcast.audioFileLocation}}"><span class="glyphicon glyphicon-music"></span></a></td>
            <td><span ng-show='podcast.videoFileLocation.length > 0'><a href="{{podcast.videoFileLocation}}"><span class="glyphicon glyphicon-hd-video"></span></a></span></td>


        </tr>
    </table>

</div>